{{!-- {{Title and Description}} --}}
<div class="menu">
    <p>NINJAS  
        <t></t><a href="/" >Home</a>
    <a href="/whoguideline" target="_blank">Covid-19 Guidelines</a></p>
</div>
{{!-- {{Title and Description}} --}}
